.menu {
	float: left; 
	width: 15%;
	text-align: left;
}
html {
	background-image: url(backimage.jpg);
}
#box {
	width: 450px;
	height: 500px;
	float: left;
	margin: auto;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 16pt;
}
#box img {
	width: 250px;
	height: 300px;
}
h3 {
	color: black;
	font-family: arial;
}
.products {
	float: right; 
	width: 85%; 
	border-radius: 25px;
	text-align: center;
	color: black;
	font-size: 15pt;
	background-color: #03A203;
	font-family: Luminari, fantasy;
}
.dropbtn {
  background-color: #24262B;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: left;
}

/* Контейнер <div> - необходимо разместить выпадающий контент */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающий контент (скрыт по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 460px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float: left;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона кнопки выпадающего списка, когда отображается содержимое выпадающего списка. */
.dropdown:hover .dropbtn {
  background-color: #021031;
}
#a1 {
	font-size: 15pt;
}
.menu {
  padding: 15px;
  background: #79CE68;
  width: 12.7%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 25px;
}
.menu h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.menu h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #5d615f;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #5d615f, 0 -8px #5d615f, -8px 0 #5d615f;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.menu li {margin: 12px 0 0 0px;}
.menu a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.menu a:hover {
  background: #061536;
  color: white;
}
